body{
 background-image:linear-gradient(rgb(32, 156, 32), rgb(69, 61, 61));
 padding: 0px;;
 font-size: larger;
font-family: Arial, Helvetica, sans-serif;
 margin:0;

}
.box{
    margin: 0px;
    padding:0 50px;

}
.box h1{
    color: antiquewhite;
}
nav{
    background-color:rgb(39, 37, 37);
    padding: 10px;
    position: sticky;
    top: 0;
}

nav h1{
    margin:50px;
    display: inline;
}
nav ul{
    list-style-type:none;
    margin: 10px;
    padding: 10px;
    float: right;
}
nav ul li {
    margin-left:20px;
    display: inline;
}
nav ul li a{
    margin-left: 10px;
    color: antiquewhite;
    text-decoration:none;
}
nav ul li a:hover{
    padding: 10px;
    color: #bc4c0f;
    background-color:antiquewhite;
    transition: 1s;
}

header{
    background-color:rgba(66, 107, 66, 0.666);
    padding: 20px;

}
.profile{
    display:flex;
    align-items: center;
    

    
}
.image{
    border-radius: 50px;
    height: 100px;
    width:100px;
    border:5px solid black ;
    margin-right: 40px;
}
 
main{
    padding: 50px 0;
}
 section{
    margin-top: 50px;
 }
 section h2{
    color: rgb(11, 4, 21);
 }

#contact{
    background-color:rgb(61, 55, 55);
    padding: 10px;
    text-align: center;
}
.contact h1{
    margin-bottom: 10px;
    color: #81533a;

}
.contactinfo p{
   margin-bottom: 50px;
   text-transform: uppercase;
   

}
.contactinfo ul{
    list-style:none;
    padding:0 ;
}
.contactinfo ul li{
    display: inline;
    padding: 40px;
}
.insta{
    border-radius: 50px;
    height: 150px;
    width: 150px;

}
.snap{
    border-radius: 50px;
    height: 150px;
    width: 150px;

}
.insta:hover{
    opacity:0.7;
    cursor: pointer;
}
.snap:hover{
    opacity:0.7;
    cursor: pointer;
}